<div class="killFeed-Container">
    @if(onFire){
        <div class="onfireCharacter" [ngClass]="isAlly ? 'ally' : 'enemy'">
            <img [src]="onFireGif">
        </div>
    }
    <div class="killer-Container" [ngClass]="isAlly ? 'ally' : 'enemy'">
        <div class="killer-name">
            {{ killerName }}
        </div>
        <div class="killer-character">
            <img [src]="killerImage" alt="">
        </div>
        @if(killAsist.length > 0){
            <div class="assit-container">
                @for(asist of killAsist; track $index){
                    <div class="assit-character">
                        <img [src]="'Heroes_Icons/' + asist + '.webp'" />
                    </div>
                }
            </div>
        }
    </div>
    <div class="ability-killer-container">
        <!-- if is normal kill dont show -->
        @if(!normalKill){        
            <div class="ability-killer" >
                <img [src]="killMethod" [ngClass]="critic ? 'critic' : ''" alt="">
            </div>
        }
        @if(ultimateKill){
            <div class="ultimate-killer">
                <div class="ultimate-circle">
                    <img [src]="killMethod" [ngClass]="critic ? 'critic' : ''" alt="">
                </div>
            </div>
        }
        <div class="arrow-kill">
            <mat-icon>arrow_forward_ios</mat-icon>
        </div>
    </div>
    <div class="killed-Container" [ngClass]="!isAlly ? 'ally' : 'enemy'">
        <div class="killed-character">
            <img [src]="victimImage" alt="">
        </div>
        <div class="killed-name">
            {{ victimName }}
        </div>
    </div>
</div>